body {
  font-family: 'Alegreya', serif;
  font-size: 1.35rem;
  line-height: 1.5em;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 6rem;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
}

header {
  font-size: 2.65rem;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
}

section {
  margin: 2em 0;
}

ul li p {
  margin: 0;
}

.title {
  font-weight: bold;
  margin-top: 2rem;
}

.wrap {
  margin: 2rem 3rem;
  position: relative;
  overflow: none;
}

@media (min-width: 50rem) {
  .wrap {
    width: 50rem;
    margin: 2rem auto;
  }
}
